@font-face {
    font-family: comfortaa;
    src: url(../font/Comfortaa-Bold.ttf);
    font-display: swap;
}

:root {
  /* fluid font sizes */
  --step--5: clamp(0.39rem, calc(0.41rem + -0.02vw), 0.40rem);
  --step--4: clamp(0.48rem, calc(0.48rem + 0.01vw), 0.49rem);
  --step--3: clamp(0.58rem, calc(0.57rem + 0.06vw), 0.61rem);
  --step--2: clamp(0.69rem, calc(0.67rem + 0.13vw), 0.76rem);
  --step--1: clamp(0.83rem, calc(0.79rem + 0.23vw), 0.95rem);
  --step-0: clamp(1.00rem, calc(0.93rem + 0.37vw), 1.19rem);
  --step-1: clamp(1.20rem, calc(1.09rem + 0.55vw), 1.48rem);
  --step-2: clamp(1.44rem, calc(1.28rem + 0.81vw), 1.86rem);
  --step-3: clamp(1.73rem, calc(1.50rem + 1.15vw), 2.32rem);
  --step-4: clamp(2.07rem, calc(1.75rem + 1.61vw), 2.90rem);
  --step-5: clamp(2.49rem, calc(2.04rem + 2.22vw), 3.62rem);
  
  /* fluid margins and padding */
  --mp--5: clamp(0.53rem, calc(0.52rem + 0.05vw), 0.55rem);
  --mp--4: clamp(0.63rem, calc(0.61rem + 0.11vw), 0.69rem);
  --mp--3: clamp(0.76rem, calc(0.72rem + 0.20vw), 0.86rem);
  --mp--2: clamp(0.91rem, calc(0.85rem + 0.33vw), 1.08rem);
  --mp--1: clamp(1.09rem, calc(0.99rem + 0.50vw), 1.35rem);
  --mp-0: clamp(1.31rem, calc(1.17rem + 0.73vw), 1.69rem);
  --mp-1: clamp(1.58rem, calc(1.37rem + 1.04vw), 2.11rem);
  --mp-2: clamp(1.89rem, calc(1.60rem + 1.46vw), 2.64rem);
  --mp-3: clamp(2.27rem, calc(1.87rem + 2.00vw), 3.30rem);
  --mp-4: clamp(2.72rem, calc(2.18rem + 2.73vw), 4.12rem);
  --mp-5: clamp(3.27rem, calc(2.53rem + 3.68vw), 5.15rem);

  /* fallback font */
  --system-font: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

*, *:before, *:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
a {
    text-decoration: none;
    color: #e93974;
    display: inline-block;
}

a:hover {
    color: #71a4ca;
}

body {
    font-family: var(--system-font);
    background-image: url(../img/paige-cody--esAIGzeMqU-unsplash.jpg);
    background-size: 100vw auto;
    position: relative;
    background-color: #fff5ef;
}

.header {
    position: relative;
    top: 5vh;
}

.logo {
    width: var(--step-5);
    height: var(--step-5);
}

.logo-bg {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(30, 30, 30, 0.7);
}

.logo-bg h1 {
    font-size: var(--step-4);
    color: white;
    font-family: comfortaa;
}

.main {
    position: absolute;
    background-color: #fff5ef;
    top: 40vh;
    font-family: comfortaa;
    width: max(300px, 100vw);
    height: auto;
}

.info p {
    padding-block: var(--mp--5);
}

label,
.required,
.info > :first-child {
    padding-inline: var(--mp-0);
}

fieldset {
    display: flex;
    flex-direction: column;
    position: relative;
    border-right: none;
    border-left: none;
    border-top: 2px solid rgb(243, 223, 204);
    border-bottom: 2px solid rgb(243, 223, 204);
    box-shadow: 0px 2px 2px rgb(243, 218, 194);
    padding-inline: 0;
    padding-block: var(--mp--2);
}

fieldset .required {
    font-size: var(--step--1);
    padding-block: 0;
    color: rgb(78, 64, 46);
    text-shadow: 0px 0px 1px;
    margin-top: var(--mp--1);
}

fieldset > :first-child {
    color: rgb(56, 48, 38);
    text-shadow: 0px 0px 1px;
    font-size: var(--step-1);
    padding-inline: var(--mp--2);
}

span {
    color: #e93974;
}

p {
    text-align: center;
}

.required {
    text-align: start;
    font-size: var(--step--1);
}

label {
    font-size: var(--step--2);
    margin-top: var(--mp--2);
    margin-bottom: 4px;
    letter-spacing: 0.05rem;
    color: rgb(90, 65, 47);
}

input {
    width: clamp(250px, 80%, 320px);
    font-size: var(--step-0);
    margin-inline: var(--mp-0);
    padding-block: var(--mp--5);
    padding-inline: var(--mp--4);
    border-radius: 4px;
    border: 1px solid rgb(179, 164, 151);
    font-family: var(--system-font);
}

button {
    margin-inline: var(--mp-0);
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 12px 16px;
    background-color: rgb(245, 200, 140);
    color: rgb(61, 55, 46);
    border-radius: 3rem;
    font-family: var(--system-font);
    border: 1px solid rgb(177, 144, 102);
    place-self: center;
    cursor: pointer;
    font-weight: bolder;
    box-shadow: 2px 2px 2px rgb(243, 218, 194);
}

button:hover {
    background-color: rgb(243, 191, 123);
    color: rgb(53, 49, 44);
}

form {
    display: grid;
}

/* for desktop */
@media (orientation: landscape) {

    body {
        background-size: 70vw auto;
        background-repeat: no-repeat;
    }
    
    .header {
        position: fixed;
        top: 20vh;
        left: 0;
        right: 30vw;
    }
    
    .main {
        top: 0;
        left: 70vw;
        width: 30vw;
    }

    .info p,
    label,
    legend {
        padding-inline: var(--mp-1);
    }

    input {
        margin-inline: var(--mp-1);
    }

    .main {
        padding-top: var(--mp-5);
    }
}