@font-face {
    font-family: Comfortaa;
    src: url(/font/Comfortaa-Bold.ttf);
    font-display: swap;
  }

* {
    box-sizing: border-box;
    /* border: 1px solid black; */
}

body {
    width: 100vw;
    position: relative;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

p {
    font-size: clamp(1rem, 5vw, 1.5rem);
  }

.background-img {
    height: 50vmax;
}

.header {
    position: relative;

}

.logo-bg {
    position: absolute;
    top: 6vh;
    bottom: 36vh;
    left: 0vw;
    right: 0vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(30, 30, 30, 0.7);
}

.logo-bg h1 {
    color: white;
    font-family: Comfortaa;
    font-size: 2rem;
}

.main {

    position: absolute;
    background-color: #fff5ef;
    top: 40vh;
}

/* input {
    font-size: 1.1rem;
    margin: 0.5vh;
    padding: 0.5vh;
} */

/* label {
    font-size: 1.3rem;
    padding: 0.5vh;
} */

/* .main, 
form {
    width: 100vw;
} */

/* form {
    display: flex;
    border: 1px solid hotpink;
} */

fieldset {
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
}

input {
    width: clamp(250px, 70%, 500px);
    font-size: 1.3rem;
    padding-inline: 12px;
    padding-block: 8px;
    border-radius: 4px;
    border: 1px solid rgb(219, 219, 219);
}

label {
    font-size: 1.2rem;
    margin-top: 12px;
}